[package]
name = "rusty-daw-io"
version = "0.0.0"
authors = ["Billy Messenger <BillyDM@protonmail.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
keywords = ["audio", "midi", "device", "hardware"]
categories = ["multimedia::audio"]
description = "IO handling for RustyDAW projects (placeholder)"
documentation = "https://docs.rs/rusty-daw-io"
repository = "https://github.com/RustyDAW/rusty-daw-io"
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["midi", "jack-linux"]
midi = []
jack-linux = ["jack"]
asio = []

[workspace]
members = [
    "examples/demo",
]

[dependencies]
log = "0.4"

[target.'cfg(target_os = "linux")'.dependencies]
jack = { version = "0.9", optional = true }

[dev-dependencies]
simple_logger = "2.1"